   <div class="row">
    <div class="col s12 m6">
        <a href="/planner">
      <div class="card">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Cimabue_Saint_Francis_Fragment.jpg/200px-Cimabue_Saint_Francis_Fragment.jpg">
        </div>
        <div class="card-content">
          <span class="card-title orange-text text-darken-4">Start New Line-up</span>
          <p class="light-blue-text text-darken-1">Ready to start planning a new liturgical line-up? Let's do it.</p>
        </div>
      </div>
      </a>
    </div>

    <div class="col s12 m6">
      <div class="card">
             <a href="/library">
        <div class="card-image">
          <img src="  https://i.pinimg.com/236x/98/40/30/984030ca7e954341bc4918ea4f10a41f--patron-saints-catholic-saints.jpg">
        </div>
        <div class="card-content">
          <span class="card-title black-text text-black">View the Library</span>
          <p>Here you can see the contents of the library. You can also edit and add entries.</p>
        </div>
        </a>
      </div>
    </div>

  </div>